{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craig Clone~</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- NAVIGATION BAR -->
    <nav>
        <div class="nav-wrapper" style="background-color: black;">
            <a href="{% url 'home' %}" class="brand-logo center"><i class="large material-icons" style="color: white; font-size:60px">all_inclusive</i>Home</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="https://github.com/jash56/craiglist_clone">Contribute on GitHub!</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
    <h1 style="text-align: center">Welcome</h1>
        <div class="row">
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color: black">flash_on</i>
                    <p>Craiglist web scrapper</p>
                    <p class="light center">Scrape it with us!</p>
                </div>
            </div>
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color: black">camera</i>
                    <p>Filter your searches</p>
                    <p class="light center">We built in functionality to filter based on pricing</p>
                </div>
            </div>
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color: black">chrome_reader_mode</i>
                    <p>A great GUI for Craiglist</p>
                    <p class="light center">We used materialize</p>
                </div>
            </div>
        </div>
    <!-- FORM -->
    <h1>Let's go!</h1>

    <form action="{% url 'new_search' %}" method="post" class="col s12">
        {% csrf_token %}
        <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">arrow_forward</i>
                  <input type="text" id="autocomplete-input" class="autocomplete" name="search">
                  <label for="autocomplete-input">Search here!</label>
                </div>
              </div>
            </div>
        </div>
        <div class="input-field col s6">
            <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color: black;">
                Submit<i class="material-icons right">search</i>
            </button>
        </div>
    </form>
    
    {% block content %}
    
    {% endblock content %}
    </div>
    <!-- FOOTER AREA -->
    <footer class="page-footer" style="background-color: black;">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text"></h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   
</body>
</html>


         